@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oleo Script');
@import url('https://fonts.googleapis.com/css?family=Exo 2');
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Roboto";
  background-color: #1b1a26;
  margin: 0;
  padding: 0px 0;
  color: #fff;
}
body h1,
body h2 {
  color: #ffffff;
  font-weight: bold;
  font-family: "Exo 2";
}
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: #9fe61b;
  font-family: "Exo 2";
}
img {
  margin: 0px;
  border-radius: 5px;
}
#btn {
  background-color: #e61b70;
  color: #ffffff;
  font-family: "Exo 2";
  float: left;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  margin: 3px 0px;
  transition: 200ms ease;
  width: 100%;
  border-radius: 5px;
}
#btn:hover {
  background-color: #383abd;
}
.cardcon .card {
  width: 100%;
  margin: 20px -5px 10px -5px;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}
ul li h6 {
  margin-top: 10px;
}
.card {
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 14px 14px;
  margin: 15px auto;
  background-color: #474658;
  color: white;
  border: none;
  box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card {
  background-color: #676580;
  margin: 10px auto;
}
.navBar {
  z-index: 2;
  position: fixed;
  background-color: #11101a;
  width: 100%;
  transition: top 0.3s;
  box-shadow: 0 3px 8px 2px rgba(228, 33, 169, 0.4);
  line-height: 60px;
}
.navBar a {
  text-decoration: none;
  display: inline-block;
  margin: 0px;
}
.navBar a h1 {
  font-weight: 580;
  margin: 5px 0px 0px 0px;
  font-family: "Oleo Script";
  color: white;
  transition: 200ms ease;
}
.navBar a h1:hover {
  color: #e61b70;
}
.navBar .row {
  margin: 0px 5px 0px 0px;
  float: right;
}
.navBar .row a {
  font-family: "Exo 2";
  color: white;
  text-decoration: none;
  padding: 0 10px;
  display: flex;
  transition: 200ms ease;
}
.navBar .row a:hover {
  background-color: #e61b70;
}
.navBar .row .dropdown .dropdown-menu {
  line-height: 40px;
  background-color: #11101a;
  display: none;
  padding: 0;
  margin-top: -2px;
  width: 100%;
}
.navBar .row .dropdown:hover .dropdown-menu {
  display: block;
}
.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/bg/bg7.jpg');
  border-radius: 5px;
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  font-family: "Oleo Script";
  font-size: 600%;
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
}
ul {
  padding-left: 20px;
}
#Progress {
  width: 100%;
  background-color: grey;
}
#Progress #HTML_Bar {
  width: 85%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
#Progress #JS_Bar {
  width: 80%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
#Progress #CSS_Bar {
  width: 70%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
#Progress #LESS_Bar {
  width: 85%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
#Progress #GML_Bar {
  width: 90%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
#Progress #UE4_Bar {
  width: 75%;
  height: 30px;
  background-color: #e61b70;
  padding: 5px;
}
