@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    background-color: #1b1a26;
    margin: 0;
    padding: 0px 0;
    transition: 2000ms ease;
    color: #fff;
    h1,
    h2{
        color: #ffffff;
        font-weight: bold;
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        color: #9fe61b;
    }
}

img {
    margin: 0px;
    border-radius: 5px;
}

#btn {
    background-color: #e61b70;
    color: #ffffff;
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    margin: 3px 0px;
    transition: 200ms ease;
    width: 100%;
    border-radius: 5px;
    &:hover {
        background-color: #383abd;
    }
}
.cardcon{
    .card {
        width: 100%;
        margin: 20px -5px 10px -5px;
    }
}
.row {
    display: flex;
    .col {
        flex: 1;
        min-width: 300px;
        margin: 10px;
    }
}

ul{
    li{
        h6{
            margin-top: 10px;
        }
    }
}
.card {
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 14px 14px;
    margin: 15px auto;
    background-color: #474658;
    color: white;
    border: none;
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    .card {
        background-color: #676580;
        
        margin: 10px auto;
    }
}

.navBar {
    z-index: 2;
    position: fixed;
    background-color: #11101a;
    line-height: 60px;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.40);
    a {
        color: white;
        float: left;
        text-align: center;
        text-decoration: none;
        padding: 0 10px;
        transition: 200ms ease;
        &:hover {
            background-color: #e61b70;
        }
    }
    .dropdown {
        display: inline-flex;
        flex-direction: column; //z-index: 2;
        .dropdown-menu {
            a {
                text-align: left;
                width: 100%;
            }
            line-height: 40px;
            background-color: #11101a;
            display: none;
            padding: 0;
            box-shadow: 0 3px 8px 2px rgba(0,
            0,
            0,
            0.09);
            margin-top: -2px;
        }
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}

#gallery {
    padding-left: 0px;
    padding-right: 0px;
    #next {
        right: 0;
    }
    button {
        position: absolute;
        z-index: 1;
        top: 35%;
        width: 30px;
        height: 20%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ececec;
        font-weight: bolder;
        border: none;
        cursor: pointer;
        transition: 200ms ease;
        &:hover {
            background-color: rgba(206, 206, 206, 0.5);
            color: #1f1f1f;
        }
    }
    #on {
        position: absolute;
        bottom: 0px;
        left: 15px;
        margin-bottom: 0;
        color: white;
    }
    #dots {
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        line-height: 15px;
        margin: 0;
    }
    .dot {
        z-index: 1;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover {
            background-color: #717171;
        }
    }
}