@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto";
  background-color: #2c2c38;
  margin: 0;
  padding: 0px 0;
  transition: 2000ms ease;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: white;
}
#btn {
  background-color: #ffffff;
  color: #838383;
  float: left;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  margin: 3px 0px;
  transition: 200ms ease;
  width: 100%;
}
#btn:hover {
  background-color: #d8d7f5;
}
.row .col {
  min-width: 300px;
}
.card {
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.1);
  padding: 14px 14px;
  margin: 15px auto;
  background-color: #232229;
  color: white;
  box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
}
.card .card {
  background-color: #646085;
  border: none;
  margin: 10px auto;
}
.navBar {
  z-index: 1;
  position: fixed;
  display: block;
  background-color: #131313;
  line-height: 70px;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.15);
}
.navBar a {
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  transition: 200ms ease;
}
.navBar a:hover {
  background-color: #3e3e47;
}
#gallery button {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #838383;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: 200ms ease;
}
#gallery button:hover {
  background-color: #d8d7f5;
}
